<html>
    <h1> Computer  </h1>
    <ul>
      <% computers.forEach(function(computer){ %>
       <li><%= computer.name %><img width = "50px"src = <%=computer.photo%>></li>
       <% }); %>
    </ul>
    </html>